@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: var(--font-inter);

  --color-primary-100: #fffffe;
  --color-primary-300: #d8eefe;
  --color-primary-400: #90b4ce;
  --color-primary-500: #3da9fc;
  
  --color-secondary-100: #5f6c7b;
  --color-secondary-500: #094067;
}
